// ion-title{
//     text-transform: capitalize;
//    }
//    ion-item {
//        border: 1px solid var(--ion-color-light);
//        border-radius: 10px;
//        background-color: rgb(51, 51, 51);
//        margin-top: 7%;
//      }
//       ion-content{
   
//        margin-top: 0%;
//       }
//       span{
//        color: rgb(235, 39, 4);
//       }
    
//      ion-card{
//        margin: -0%;
//        background: transparent;
//        margin-left: auto;
//      }
//      h4{
//        margin-bottom: 5%;
//      }
//      ion-button{
//        text-transform: capitalize;
//      }
      
//      h2{
//         font-weight: 500;
//         margin-bottom: 5%;
//         font-size: 17px;
//         color: black;
//         }
//         h6{
//           margin-left: 90px;
//         }



// ion-title{
//   text-transform: capitalize;
//  }
//  ion-item {
//      border: 1px solid var(--ion-color-light);
//      border-radius: 10px;
//      background-color: rgb(51, 51, 51);
//      margin-top: 4%;
    
//    }
//     ion-content{
 
//      margin-top: 0%;
//     }
//     span{
//      color: rgb(235, 39, 4);
//     }
  
//    ion-card{
//      margin: -0%;
//      height: 100%;
     
//    }
//    h4{
//      margin-bottom: 1%;
//    }
//    ion-button{
//      text-transform: capitalize;
//      margin-top: 6%;
//    }
//     h6{
//      margin-left: 90px;
//     }
// ion-icon{
//   font-size: 160%;
// }

  
  
ion-title{
  text-transform: capitalize;
 }
 ion-item {
     border: 1px solid var(--ion-color-light);
     border-radius: 10px;
     background-color: rgb(51, 51, 51);
     margin-top: 5%;
    
   }
    ion-content{
 
     margin-top: 0%;
    }
    span{
     color: rgb(235, 39, 4);
    }
  
   ion-card{
     margin: -0%;
      
   }
   h4{
     margin-bottom: 1%;
   }
   ion-button{
     text-transform: capitalize;
   }
    
  .mleft{
    margin-left: -58px;
  } 
  .m{
    margin-left: -1100rem;
  }
 
   
  .bt{
    margin-left: 40px;
  }

  ion-input{
      background-color: rgb(244, 243, 243);
      border-radius: 10px;
  }
  