

 
  <ion-content>
    <div class="div">
      <div class="imgdiv">  
        <img src="https://sales.ufaber.com/public/static/website/payment_page/Paid%20icon.png" alt="">
      </div>
      <div class="textdiv" style="margin: auto;width: 90%;margin-right: auto;">
        <h2 class="success" style="text-align: center;"> Success! </h2>
       <h2 class="line" style="text-align: center;"> Your application has been submitted </h2>
       <h3 style="text-align: center;">25673456</h3>
        <h2 class="next" style="text-align: center;">your code will be active for business in 24 Hrs !</h2>
      </div>
  
    </div>
    <ion-button style="text-transform: none; margin: auto; width: 90%; margin-bottom: 10px; position: absolute; bottom: 15px; left: 5%; right: 5%;" fill="clear" expand="block" routerLink="/tabs/dashboard">Go To Home</ion-button>
  </ion-content>
 
