

.div{
  background-color: rgb(3, 48, 114);
   height: 100%;
   width: 100%;
}
.imgdiv{
  justify-content: center;
  padding-top: 25%;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
  // h2{
  //   text-align: center;
  //   padding: 4%;
  //   padding-bottom: 800px;
  //   color: rgba(137, 221, 236, 0.966);
  // }
  // .textdiv{
  //   margin-top: 20%;
  // }
.success{
  color: green;
  // margin-left: 140px;
margin-top: 10px;

}
.line{
  color: green;
  // margin-left: 40px;
  margin-top: 20px;
  
  
}
h3{
  // margin-left: 140px;
  color: green;
  font-weight: 700;
  font-size: 200;
}
.next{
  color: green;
  // margin-left: 40px;
  margin-top: 20px;
}
ion-button{
  background-color: green;
  color: white;
}