<!-- <ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="dashboard">
      <ion-icon name="speedometer-outline"></ion-icon>
      <ion-label>Dashboard</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="product-info">
      <ion-icon name="information-circle-outline"></ion-icon>
      <ion-label>Product Info</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="my-lead">
      <ion-icon name="briefcase-outline"></ion-icon>
      <ion-label>My Lead</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs> -->
<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="dashboard">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Dashboard</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="product-info">
      <ion-icon name="list-outline" routerLink="/product-info"></ion-icon>
      <ion-label>Product Info</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="my-lead">
      <ion-icon name="funnel-outline"></ion-icon>
      <ion-label>My Lead</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
