<!-- <ion-header  class="ion-no-border" lines="none">
 
  <ion-button fill="clear" expand="full"  color="dark" routerLink="/selfie">
    <ion-icon style="font-size: 160%;color: black;"  class="m" slot="start" class="mleft" name="arrow-back"></ion-icon>
  <h3 style="color: black;text-transform: capitalize;margin-left: 100px;">Agreement</h3>
  </ion-button>
 


</ion-header> -->

<ion-content style="--background: url('/assets/image/bg1.jpg') no-repeat center center / cover fixed;">
  <ion-icon style="font-size: 160%;margin: auto;margin-left: 10px;margin-top: 10px;" name="arrow-back"
    routerLink="/selfie" class="icon">

  </ion-icon>
  <p style="width: 90%; margin: auto; text-align: center;margin-top: -25px;font-size:17px;"><b>Agreement</b></p>
  <ion-row>
    <ion-col style="margin-top: 20px;">
      <p style="width: 95%; margin: auto;font-size: 17px;">(View agreement along with Application Form)</p>
    </ion-col>
  </ion-row>

  <div style="width: 90%; margin: auto;justify-content: center;" class="bg">
    <!-- <ion-item> -->
    <!-- <p class="ml">Your Agreement</p> -->
    <div style="margin-top: 10px;">
    <a href="URL_TO_YOUR_DOCUMENT" target="_blank" class="tex">View Your Document</a>
    <ion-icon name="document-text-outline" style="margin-left: -180px;margin-top: 10px;"  color="dark"></ion-icon>
  </div>
    <!-- <ion-button slot="end" expand="block" color="tertiary" class="tex" slot="end">view</ion-button> -->
    <!-- </ion-item> -->
  </div><br>
  <ion-row style="width: 90%; margin: auto; margin-top: 10px;" class="term">
    <ion-col>
      <!-- <ion-checkbox justify="start"></ion-checkbox>
      I have read the agreement and agree to the term and Condition
      and code of conduct as mentioned in the agreement -->
      <h5 style="margin-top: -20px;"><ion-checkbox labelPlacement="end"><p style="width: 90%; margin: auto;margin-left:1px;white-space:normal;margin-top:30px;color: black;font-size: 17px;">I have read the agreement and agree to the terms & Conditions and Code of Conduct as mentioned in the agreement 
        </p>  </ion-checkbox>
         </h5>
    </ion-col>
  </ion-row>



  <ion-row>
    <ion-col>

    </ion-col>
  </ion-row>


  <ion-button style="text-transform: none; margin: auto; width: 90%; margin-bottom: 10px; position: absolute; bottom: 15px; left: 5%; right: 5%;" color="tertiary" expand="block" routerLink="/e-sign">Accept and Continue</ion-button>

</ion-content>
<!-- <ion-footer>
  <ion-button style="width: 90%; margin: auto;text-transform: capitalize;margin-bottom: 25px;" color="tertiary"
    expand="block" routerLink="/e-sign">Accept and Continue</ion-button>
</ion-footer> -->