

<ion-content  style="--background: url('/assets/image/bg1.jpg') no-repeat center center / cover fixed;">
  <!-- <ion-card>
    
    <ion-card-content> -->
 
      
      <ion-row>
        <ion-col style="margin-top: 100px;">
          <!-- <img src="/assets\download.png"> -->
          <img src="/assets/image/logo12.png">
        </ion-col>
       </ion-row>
   
       
     
     <!-- <ion-row>
      <ion-col>
      
        <ion-item>
          <ion-icon name="person-outline" slot="start" size="small"></ion-icon>   
            <ion-input placeholder="Enter Mobile number" type="text"   > </ion-input> 
       
        </ion-item>
 
      </ion-col>
     </ion-row> -->
      <br><br>
     <div class="input-container" style="width: 90%;margin: auto;margin-top: 90px;">
      <ion-icon name="person-outline" slot="start" size="small"></ion-icon>   
      <input type="text" placeholder="   9347890293" style="height: 25px;">
    </div>
    
  
       <ion-row class="btn">
        <ion-col>
          <ion-button style="width: 90%;margin: auto;margin-top: 40px;"  color="tertiary" expand="block" routerLink="/otp">Login</ion-button>
        </ion-col>
       </ion-row>
       <ion-row class="btn2">
        <ion-col>
          <ion-button style="width: 90%;margin: auto;margin-top: 40px;"  color="tertiary" expand="block" routerLink="/otp"> Signup</ion-button>
        </ion-col>
       </ion-row>
 
    
<!--     
       <ion-row class="check">
        <ion-col style="width: 90%;margin: auto;margin-left: 15px;margin-top: -40px;">
          <ion-checkbox style="width: 90%;margin: auto;"></ion-checkbox><p style="margin-left: 30px;margin-top: -25px;font-size: 17px;">Accept Terms & Conditions </p> 
        </ion-col>
      </ion-row> -->
    
    <!-- </ion-card-content>
     
  </ion-card> -->
</ion-content>
