<ion-content style="--background: url('/assets/image/bg1.jpg') no-repeat center center / cover fixed;">
        
  <p style="font-size: 120%;text-align: center;"> Add New Referral </p>
<div class="reset">
  <h6>Name<span>*</span></h6>
  <!-- <ion-item> -->
  
      <ion-input  placeholder="    Name" type="text"   > </ion-input> 
 
  <!-- </ion-item>  -->
  <h6>Mobile Number <span>*</span></h6>
  <!-- <ion-item> --> 
  
      <ion-input placeholder="   Mobile Number" class="custom-input" type="text"   > </ion-input> 
 
  <!-- </ion-item> -->
  <h6>Email <span>*</span></h6>
  <!-- <ion-item> -->
    
      <ion-input placeholder="   Email " type="text"   > </ion-input> 
 
  <!-- </ion-item> -->
  <h5>Location<span>*</span></h5>
  <!-- <ion-item> -->
    
      <ion-input placeholder="   Location " type="text"   > </ion-input> 
 
  <!-- </ion-item> -->
  <h6>PAN Card<span>*</span></h6>
  <!-- <ion-item> -->
    
      <ion-input placeholder="  Pan Card" type="text"   > </ion-input> 
 
  <!-- </ion-item> -->
  <!-- <h6>Product<span>*</span></h6> -->
  <!-- <ion-item> -->
    
      <!-- <ion-input placeholder="  Product " type="text"   > </ion-input>  -->
      <!-- <ion-icon name="chevron-down-outline" slot="end"></ion-icon> -->
  <!-- </ion-item> -->
  <!-- <h6>Product category <span>*</span></h6> -->
  <!-- <ion-item> -->
    
      <!-- <ion-input placeholder=" Product category " type="text"   > </ion-input>  -->
      <!-- <ion-icon name="chevron-down-outline" slot="start"></ion-icon> -->
  <!-- </ion-item> -->
</div>
<ion-checkbox labelPlacement="end"><p>Information for the Referral generated is 
  <br> correct</p> </ion-checkbox>
  
  <br><br>
     <ion-button style="width: 90%;text-transform: none;margin: auto;margin-bottom: 15px;" expand="full"    color="tertiary" routerLink="/dashboard-success"  >Accept and Continue</ion-button>

 
  
</ion-content>