<!-- 
<ion-content style="--background: url('/assets/image/bg1.jpg') no-repeat center center / cover fixed;">
  <ion-icon  style="font-size: 160%;margin: auto;margin-left: 10px;margin-top: 10px;color: black;" name="arrow-back" routerLink="/login" class="icon">
    
  </ion-icon> <p style="width: 90%; margin: auto; text-align: center;margin-top: -23px;font-size: 125%;color: black;">OTP</p>
 
  <ion-row>
    <ion-col class="ion-text-center">
      <p   style="width: 95%; margin: auto; text-align: center;margin-top: 20px;color: black;">Please Enter the OTP send to +919845324565</p>
    </ion-col> 
  </ion-row> 
      <img src="/assets/phone_logo.png">
   
   
  <div class="otp-container">
    <div class="otp-input"  style="width: 95%; margin: auto;margin-top: 30px;" >
      <input type="number"  maxlength="1" >
      <input type="number" maxlength="1">
      <input type="number" maxlength="1">
      <input type="number" maxlength="1" >
    </div>
    <p  style="margin-top: 6rem;text-align: center;font-size: 90%;color: black;">Didn't Receive a OTP?&nbsp;&nbsp;<span style="color: blue;font-size: 120%;"><b>Resend OTP</b></span></p>
   
         -->
            <!-- <ion-button  color="tertiary" expand="full" routerLink="/doc"> Submit</ion-button> -->
          
      
     
<!--    
  </div>
  
</ion-content>

 
<ion-footer   >
  <ion-button style="text-transform: capitalize;margin: auto;width: 90%;margin-bottom: 25px;" color="tertiary" expand="block" routerLink="/doc">submit</ion-button>
</ion-footer> -->


<!-- <ion-content style="--background: url('/assets/image/bg1.jpg') no-repeat center center / cover fixed; position: relative;">
  <ion-icon style="font-size: 160%; margin: auto; margin-left: 10px; margin-top: 10px; color: black;" name="arrow-back" routerLink="/login" class="icon"></ion-icon>
  <p style="width: 90%; margin: auto; text-align: center; margin-top: -23px; font-size: 125%; color: black;">OTP</p>
 
  <ion-row>
    <ion-col class="ion-text-center">
      <p style="width: 95%; margin: auto; text-align: center; margin-top: 20px; color: black;">Please Enter the OTP sent to +919845324565</p>
    </ion-col> 
  </ion-row> 
  <img src="/assets/phone_logo.png">
   
  <div class="otp-container">
    <div class="otp-input" style="width: 95%; margin: auto; margin-top: 30px;">
      <input type="number" maxlength="1">
      <input type="number" maxlength="1">
      <input type="number" maxlength="1">
      <input type="number" maxlength="1">
    </div>
    <p style="margin-top: 6rem; text-align: center; font-size: 90%; color: black;">Didn't Receive an OTP?&nbsp;&nbsp;<span style="color: blue; font-size: 120%;"><b>Resend OTP</b></span></p>
  </div>
  
  <ion-footer style="margin-bottom: 25px; position: absolute; bottom: 0; left: 0; right: 0;">
    <ion-button style="text-transform: capitalize; margin: auto; width: 90%;" color="tertiary" expand="block" routerLink="/doc">Submit</ion-button>
  </ion-footer>
</ion-content> -->

<ion-content style="--background: url('/assets/image/bg1.jpg') no-repeat center center / cover fixed; position: relative; ">
  <ion-icon style="font-size: 160%; margin: auto; margin-left: 10px; margin-top: 10px; color: black;" name="arrow-back" routerLink="/login" class="icon"></ion-icon>
  <p style="width: 90%; margin: auto; text-align: center; margin-top: -23px; font-size:17px; color: black;"><b>OTP</b></p>
 
  <ion-grid class="grid" style="align-items: center;justify-content: center;">


  <ion-row style="justify-content: center;">
    <ion-col class="ion-text-center">
      <p style="width: 95%; margin: auto; text-align: center; margin-top: 20px; color: black;">Please Enter the OTP sent to +919845324565</p>
    </ion-col> 
  </ion-row> 
 
   
  <img src="/assets/phone_logo.png" >


<ion-row style="align-items: center;justify-content: center;">
  <div class="otp-container">
    <div class="otp-input" style="width: 95%; margin: auto; margin-top: 30px;">
      <input type="number" maxlength="1">
      <input type="number" maxlength="1">
      <input type="number" maxlength="1">
      <input type="number" maxlength="1">
    </div>
    <p style="margin-top: 6rem; text-align: center; font-size:17px; color: black;">Didn't Receive an OTP?&nbsp;&nbsp;<span style="color: blue; font-size:19px;"><b>Resend OTP</b></span></p>
  </div>
</ion-row>
</ion-grid>
  <!-- No need for <ion-footer> element -->

  <!-- Submit button inside the content area -->
  <ion-button style="text-transform: capitalize; margin: auto; width: 90%; margin-bottom: 10px; position: absolute; bottom: 15px; left: 5%; right: 5%;" color="tertiary" expand="block" routerLink="/doc">Submit</ion-button>

</ion-content>  
