


     <!-- <ion-back-button slot="start"></ion-back-button> -->
     <!-- <ion-icon name="arrow-back" routerLink="/bank-info">   
    </ion-icon>
    <p style="width: 90%; margin: auto; text-align: center; margin-top: -24px; font-size: 120%;">Desclaimer</p> -->

    
 
 <ion-content style="--background: url('/assets/image/bg1.jpg') no-repeat center center / cover fixed;" scroll-y>
  <ion-icon style="font-size: 160%;margin: auto;margin-left: 10px;margin-top: 10px;" name="arrow-back" routerLink="/bank-info" class="icon">
    
  </ion-icon> <p style="width: 90%; margin: auto; text-align: center;margin-top: -25px;font-size: 17px;"><b>Confirmation and Desclaimer</b></p>
   <div style="width: 95%; margin: auto;margin-top: 30px;" scroll-y>
     <h6>Applicant Name (As on PAN ) :<br>
     <b> Mr. APPLCANT NAME</b> </h6>
     <h6>Applicant PAN : <br>
     <b>QWERT1234Y</b>  </h6>  
     <h6>Applicant AADHAR : <br>
      <b>1234 5678 9012</b> </h6> 
      <h6>Applicant Name (As on Bank detail) :<br>
        <b> Mr. APPLCANT NAME</b> </h6>
     <h6>Applicant Bank Name : <br>
      <b>HGFD Bank</b>  </h6>
     <h6>Applicant Bank Account : <br>
      <b>1234 5678</b> </h6>   
    
     <!-- <div style="width: 95%; margin: auto;"> -->
     <h6 style="font-size: 17px;">
       PAN, AADHAR number and Bank Account details provided belong to the applicant.
     </h6>
     <h6 style="font-size: 17px;">
      Above details provided by the applicant are not verified by the platform or the company and the responsibility and liability for accuracy of the same lies wholly with the applicant
    </h6><br><br>
     <h5 style="margin-left: 50px;margin-top: -35px;"><ion-checkbox labelPlacement="end"><p style="width: 90%; margin: auto;margin-left:1px;white-space:normal;margin-top:30px;color: black;font-size: 17px;">Please confirm if you would like
      to proceed with the above details and disclaimer</p>  </ion-checkbox>
       </h5>
     <!-- </div> -->
    </div>
     <ion-button color="tertiary" expand="block" routerLink="/selfie">Accept and Continue</ion-button>
</ion-content> 
<!-- <ion-footer>
  <ion-button style="width: 90%; margin: auto;text-transform: capitalize;margin-bottom: 25px;" color="tertiary" expand="block" routerLink="/selfie">Accept and continue</ion-button>
</ion-footer> -->
 