<!-- <ion-header  class="ion-no-border" lines="none">
 
  <ion-button fill="clear" slot="start" color="dark" routerLink="/bil-code" style="margin-top: -1px;">
    <ion-icon style="font-size: 240%;color: black;" name="arrow-back"></ion-icon>
    <p  style="width: 95%; margin: auto;margin-left: 80px;font-size: 130%; color: black;text-align: center;">Basic information</p>
  </ion-button>

 

</ion-header> -->

<ion-content style="margin: auto;" style="--background: url('/assets/image/bg1.jpg') no-repeat center center / cover fixed;">
 
<!-- <ion-card> -->
  <ion-icon style="font-size: 160%;margin: auto;margin-left: 10px;margin-top: 10px;" name="arrow-back" routerLink="/bil-code" class="icon">
    
  </ion-icon> <p style="width: 90%; margin: auto; text-align: center;margin-top: -25px;font-size: 17px;"><b>Applicant information</b></p>
  <!-- <ion-card-content> -->
    <div style="width:90%;margin: auto;height: 95%;margin-top: -10px;">
    <ion-row>
      <ion-col style="margin-top: 10px;">
        <h6 style="color: black;">Name <span>* (As on PAN card)</span></h6>
        <!-- <ion-item> -->
          <ion-input placeholder="   Name" type="text" >
          </ion-input>
        <!-- </ion-item> -->
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h6 style="color: black;">Email <span>*</span></h6>
        <!-- <ion-item> -->
          <ion-input placeholder="   Email" type="text"> </ion-input>
        <!-- </ion-item> -->
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <h6 style="color: black;">Date of Birth <span>*</span></h6>
        <!-- <ion-item> -->
          <ion-input placeholder="   dd-mm-yyyy" type="dob"> </ion-input>
        <!-- </ion-item> -->
      </ion-col>
    </ion-row>


    <ion-row>
      <ion-col>
        <h6 style="color: black;">PAN <span>*</span></h6>
        <!-- <ion-item> -->
          <ion-input placeholder="  PAN " type="text"> </ion-input>
        <!-- </ion-item> -->
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h6 style="color: black;">AADHAR <span>*</span></h6>
        <!-- <ion-item> -->
          <ion-input placeholder="  AADHAR " type="text"> </ion-input>
        <!-- </ion-item> -->
      </ion-col>
    </ion-row>
   <br><br>
  <!-- </ion-card-content>
</ion-card> -->

</div>
<!-- <ion-button style="text-transform: none; margin: auto; width: 90%; margin-bottom: 10px; position: absolute; bottom: 15px; left: 5%; right: 5%;top: 50px;" color="tertiary" expand="block" routerLink="/add">Accept and Continue</ion-button> -->
<ion-button style="text-transform: none; margin: auto; width: 90%; margin-bottom: 15px;bottom: 10px; left: 5%; right: 5%;margin-top: -45px;" color="tertiary" expand="block" routerLink="/add">Accept and Continue</ion-button>

</ion-content>
<!-- <ion-footer>
  <ion-button style="width: 90%; margin: auto; text-transform: capitalize;margin-bottom: 25px;" color="tertiary" expand="block" routerLink="/add"
          >Accept and Continue</ion-button
        >
</ion-footer> -->  