<ion-content style="--background: url('/assets/image/bg1.jpg') no-repeat center center / cover fixed;">
  <!-- <ion-title>Dashboard</ion-title> -->
  <div class="rleft">
    <h6 style="font-size: 17px;">Dashboard</h6>
    <h1>Hello Mayur.</h1>
  <p class="mleft" style="font-size: 17px;">Welcome to your Account</p>
 <!-- <strong>Suraj kadam</strong> -->
  </div>
  
 
    <!-- <div><img alt="Silhouette of mountains" id="image1-conatiner" src="https://loans.icicibank.com/loans/home-loan/assets/Images/landing_page/banner2.jpg"/>
    </div> -->
    <ion-grid class="margin"  style="margin-top: 30px;">
     
      <ion-row>
        
        <ion-col size="6" size-sm="4">
          <ion-card class="last1">
            <ion-card-header>
           
            </ion-card-header>
            <ion-card-content>
              <ion-icon name="star-outline"></ion-icon>
             <p>Referral_generated</p> <b class="bold">50</b>
            </ion-card-content>
          </ion-card>
        </ion-col>

        <ion-col size="6" size-sm="4">
          <ion-card class="last2">
            <ion-card-header>
          
            </ion-card-header>
            <ion-card-content>
              <ion-icon name="star-outline"></ion-icon>
            <p> Rejected</p> <b class="bold">10</b>
            </ion-card-content>
          </ion-card>
        </ion-col>

        
        <ion-col size="6" size-sm="4">
          <ion-card class="last3">
            <ion-card-header>
         
            </ion-card-header>
            <ion-card-content>
              <ion-icon name="star-outline"></ion-icon>
             <p>completed</p><b class="bold">10</b>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="6" size-sm="4">
          <ion-card class="last4">
            <ion-card-header>
           
            </ion-card-header>
            <ion-card-content>
              <ion-icon name="star-outline"></ion-icon>
            <p>In process</p> <b class="bold">15</b>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="6" size-sm="4">
          <ion-card class="last5">
            
            <ion-card-header>
             
            </ion-card-header>
            <ion-card-content>
              <ion-icon name="star-outline"></ion-icon>
           <p>closed</p>  <b class="bold">10</b>
            </ion-card-content>
          </ion-card>
        </ion-col>
        
      </ion-row>
    </ion-grid>
    <ion-button style="text-transform: none; margin: auto; width: 90%; margin-bottom: 15px; position: fixed; bottom: 10px; left: 5%; right: 5%;margin-right: auto;" color="tertiary" expand="block" routerLink="/product-info" ><b>Create New Referral</b></ion-button>
</ion-content>
 <!-- <ion-footer>
  <ion-button style="margin: auto;text-transform: capitalize;width: 90%;margin-bottom: 10px;"  color="tertiary" expand="block" routerLink="/tabs/product-info" >Create New Refaral</ion-button>
</ion-footer>  -->